@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/**============================================
 *                   RESET
 *=============================================**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/**============================================
 *                 VARIABLES
 *=============================================**/
:root{
    --rust: #b86f52;
    --tan: #bdc4a7;
    --dark: #2e282a;
    --blue: #7796cb;
    --header-tags: #f78764;
}



/**============================================
 *               MAIN ELEMENTS
 *=============================================**/
/* navbar text adjustments */
body{
    font-family: 'Righteous', cursive;
    color: var(--dark);
    line-height: 1.6;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}



/**============================================
 *             TEXT / LIST STYLING
 *=============================================**/
ul{
    list-style-type: none;
    margin-left: 6em;
}

a{
    text-decoration: none;
    color: var(--tan);
    font-size: small;
}

h1, h2, h3{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

h1{
    text-transform: uppercase;
    font-weight: 400;
}

h3{
    font-weight: 200;
    text-transform: capitalize;
}

span{
    font-size: 12px;
    text-transform: capitalize;
    color: var(--blue);
    margin-left: 1.3em;
}

p{
    margin: 10px 0;
    font-size: 12px;
}

.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: medium;
}



/**============================================
 *   NAVBAR MAIN STRUCTURING AND INTERACTION
 *=============================================**/
.navbar{
    background-color: var(--dark);
    color: var(--header-tags);
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* navbar coloring and size */
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
}



/* NAVBAR HEIGHT */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/**============================================
 *             READ MORE / CARDS
 *=============================================**/

.container .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-cards{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 20px auto;
}

.info-cards .card{
    display: flex;
    background-color: var(--dark);
    width: auto;
    height: 250px;
    border-radius: 10px;
    box-shadow: -2px 2px 8px #2e282a;
    flex-direction: column;
    align-content: flex-start;
    cursor: pointer;
    transform: scale(1.0);
    transition: .5s ease-in-out;
}

/* HOVER / TRANSITION */
.info-cards .card:hover{
    transform: scale(1.05);
}


/* TEXT / HEADERS */
.info-cards h3{
    color: var(--header-tags);
}

.info-cards p{
    color: var(--tan);
    margin-left: 10px;
    margin-right: 10px;
}

.card h3{
    padding: 10px;
}

.btn-readme{
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: 3px;
    width: 6rem;
    border-radius: 4px;
    margin: 20px 10px;
}



