@import url(./modules/style-modules/reset.css);
@import url(./modules/style-modules/colors.css);
@import url(./modules/style-modules/fs.css);
@import url(./modules/main-elements/header.css);
@import url(./modules/main-elements/home.css);
@import url(./modules/main-elements/footer.css);
@import url(./modules/main-elements/artwork.css);

body{
    height: auto;
    background-position: center;
    background-image: url(./media-files/portfolio-bg.png);
    background-size: contain;
    overflow-x: hidden;
}
