*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root{
    --rust: #b86f52;
    --tan: #bdc4a7;
    --dark: #2e282a;
    --blue: #7796cb;
    --header-tags: #f78764;
}

.tag-main{
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 20px 20px;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
    margin: 2rem 1rem;
    position: relative;
    justify-items: center;
    align-items: center; */
}

.tags > h2{
    color: var(--header-tags);
}

.tags{
    background-color: var(--dark);
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: -2px 2px 8px #2e282a;
    align-items: flex-end;
    padding: 20px;

}

p{
    color: var(--tan);
}

pre > *{
    color: var(--blue);
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #7796cb;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    padding: 5px;
}


.tag-main span{
    font-size: medium;
    font-weight: 100;
}


