.landing-img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-container{
    display: inline-block;
    justify-content: center;
    margin-top: 10rem;
    margin-left: 20rem;
    width: 40rem;
    height: auto;
}

.container h1{
    text-transform: uppercase;
    color: var(--active-white);
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
}

.container h2{
    text-transform: uppercase;
    color: var(--active-white);
    margin: 0 1rem;
    font-size: 1rem;
    text-align: center;
}

.container p{
    color: var(--active-white);
    margin: 1rem;
    font-size: .8rem;
    width: 100%;
    line-height: 1.25rem;
}

.container span{
    color: var(--blue-secondary);
}

.secondary-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.line-decor{
    height: 1px;
    width: 80%;
    margin: .5rem;
    background-color: var(--blue-secondary);
}

.img-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.img-container img{
    width: 40rem;
    height: 40rem;
    margin-top: 10rem;
    -webkit-filter: drop-shadow(1rem 1rem .5rem var(--header));
    filter: drop-shadow(1rem 1rem .5rem var(--header));
}

.read-more-btn{
    background-color: transparent;
    border: solid 2px var(--blue-secondary);
    color: var(--active-white);
    text-transform: uppercase;
    margin: .8rem;
    padding: 10px;
    font-size: small;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.read-more-btn:hover{
    background-color: var(--blue-secondary);
}


