.body-container{
    width: 100%;
    min-height: 100vh;
}

.card-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    margin: 3rem;
}

.ui-card{
    width: 200px;
    height: 300px;
}

.ui-card img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 10px 5px 10px 1px rgba(0, 0, 0, .5);
    border: none;
    z-index: 0;
}

.ui-card img:hover{
    transform: scale(1.4);
    box-shadow: 20px 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--blue-secondary);
    z-index: 100;
}
